* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: cadetblue;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: darkblue;
  font-weight: bold;
}

main {
  text-align: center;
  flex: 1;
}

.author {
  color: blue;
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  font-size: 1.2rem;
  max-width: 80%;
}

footer p {
  text-align: center;
  padding: 1em 2em;
  margin-bottom: 0;
  color: blue;
  font-size: 2rem;
  font-weight: bold;
}

.nav-center {
  display: flex;
  padding: 1rem;
}

.links {
  list-style-type: none;
  display: flex;
  margin: auto;
}

a {
  text-decoration: none;
  color: blue;
  font-size: 1.5rem;
}

.links li {
  padding: 0 2rem;
}
