<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/page.css" />
  <title>About Us</title>
</head>

<body>
  <header>
    <h1>About Us</h1>
    <nav>
      <div class="nav-center">
        <ul class="links">
          <li>
            <a href="page.html">Home</a>
          </li>
          <li>
            <a href="contactUs.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum recusandae veritatis suscipit
      repellendus soluta et excepturi culpa temporibus. Doloribus non tenetur voluptate nostrum perferendis corrupti
      consequuntur, incidunt voluptatum error.</p>
  </main>

  <footer>
    <p>&copy; 2025 Bar & Viktoria</p>
  </footer>
</body>

</html>