<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HW7</title>
  <link rel="stylesheet" href="./styles/page.css" />
</head>

<body>
  <header>
    <h1>Book Component By Function</h1>
    <nav>
      <div class="nav-center">
        <ul class="links">
          <li>
            <a href="contactUs.html">Contact Us</a>
          </li>
          <li>
            <a href="aboutUs.html">About Us</a>
          </li>
        </ul>
      </div>
    </nav>


  </header>
  <main>
    <img src="./images/book.jpg" alt="'Scope & Closures' by Kyle Simpson" />
    <p class="author">
      By Kyle Simpson
    </p>
    <p class="description">
      Parts of the language that many JavaScript programmers simply avoid.
    </p>
  </main>
  <footer>
    <p>&copy; 2025 Bar & Viktoria</p>
  </footer>
</body>

</html>